/* src/components/Login.css */

body {
  margin: 0;
  background: linear-gradient(to right, #75c5d4, #141414);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: rgb(93, 202, 223);
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.login-heading {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ff0000;
  font-weight: 600;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #0072ff;
  box-shadow: 0 0 5px rgba(0, 114, 255, 0.5);
}
/* Style for the login button */
.btn-primary {
  background-color: #57a488;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #67a06b;
  transform: translateY(-1px);
}

.btn-primary:active {
  background-color: #a5cfa7;
  transform: scale(0.98);
}
